### These are some local datasets in this repo, within the localml/ directory

```
datasets/airports/busiest_airports_2017.csv
datasets/airports/openflights_airlines.csv
datasets/airports/openflights_airports.csv
datasets/airports/openflights_routes.csv
datasets/housing/housing.csv
datasets/housing/housing.tgz
datasets/postal_codes/postal_codes_us.csv
datasets/postal_codes/us_states.csv
```

In [2]:
import pandas as pd

def load_usa_postal_codes():
    path = 'datasets/postal_codes/postal_codes_us.csv'
    return pd.read_csv(path)

print('functions cell has executed')

functions cell has executed

In [9]:
df = load_usa_postal_codes()
df.head()
#df.describe()

   id  postal_cd country_cd   city_name state_abbrv   latitude  longitude
0   1        501         US  Holtsville          NY  40.815400 -73.045600
1   2        544         US  Holtsville          NY  40.815400 -73.045600
2   3        601         US    Adjuntas          PR  18.196747 -66.736735
3   4        602         US      Aguada          PR  18.352927 -67.177532
4   5        603         US   Aguadilla          PR  18.458585 -67.129867